.circle{
    list-style-type:circle;
    margin-top: 10px;
    margin-left: 10px;
    /* border: 19x solid; */
    float: left;
}

.font-circle{
    font-size: large;
}

.romans{
    margin-top: 10px;
    margin-left: 10px;
    float: right;
}

.square{
    list-style-type:square;
    margin-top: 100px;
    margin-left: 10px;
    display: inline-block;
}

.image{
    float: left;
}
.align-text{
    margin-top: 40px;
    display: inline-block;

}

.seasons{
    margin-left: 10px;
    margin-top: 30px;
}

.list{
    background-color: aliceblue;
}